<a href="https://colab.research.google.com/github/fxxdaisy/ALGORITMAFIRDA/blob/main/Copy_of_P8_FIRDA_GUSTIA_2C1240066.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FUNDAMENTAL ARRAY**

In [ ]:
arr = [10, 20, 30, 40]
arr

[10, 20, 30, 40]

In [ ]:
list_numbers = [1, 2, 3, 4, 5]
arr

[10, 20, 30, 40]

In [ ]:
list_numbers[0] = 100  # Mengubah elemen pertama menjadi 100
list_numbers

[100, 2, 3, 4, 5]

**MENDEKLARASIKAN ARRAY**

In [ ]:
arr = [1, 2, 3, 4, 5]
arr

[1, 2, 3, 4, 5]

In [ ]:
data = [1, 2, 3, 'hello', 5.5]  # array dengan elemen tipe berbeda
arr

[1, 2, 3, 4, 5]

In [ ]:
arr = [0] * 5  # Membuat array dengan 5 elemen, semua berisi 0
arr

[0, 0, 0, 0, 0]

In [ ]:
arr = [10, 20, 30, 40]
print(arr[0])  # Output: 10 (indeks pertama)
print(arr[3])  # Output: 40 (indeks terakhir)

10
40

**PEMROSESAN SEKUENSIAL ARRAY**

In [ ]:
arr = [10, 20, 30, 40, 50]
for elemen in arr:
    print(elemen)

10
20
30
40
50

In [ ]:
total = 0
for elemen in arr:
    total += elemen
print(total)  # Output: 150

150

In [ ]:
arr = [30, 45, 10, 20, 12, 7, 19, 13, 17, 2, 10, 27, 5, 29]

nilai_maks = max(arr)
print(nilai_maks)
print("jadi nilai maksimumnya adalah 45")

nilai_min = min(arr)
print(nilai_min)
print("jadi nilai minimumnya adalah 2")

penjumlahan = sum(arr)
print(penjumlahan)
print("total penjumlahan seluruh elemen adalah 246")

jumlah_arr = len(arr)
print(jumlah_arr)
print("jumlah seluruh elemen adalah 14")

rata_rata = sum(arr) / len(arr)
print(rata_rata)
print("jadi rata-rata seluruh elemen adalah 17.571428571428573")

45
jadi nilai maksimumnya adalah 45
2
jadi nilai minimumnya adalah 2
246
total penjumlahan seluruh elemen adalah 246
14
jumlah seluruh elemen adalah 14
17.571428571428573
jadi rata-rata seluruh elemen adalah 17.571428571428573

In [ ]:
#SOAL1
# Program IsiArray
# Program untuk mengalikan elemen-elemen array dengan suatu integer
# KAMUS
# TabInt : array [0..6] of int
# i : int
# ALGORITMA
# Mengisi array dengan 6 elemen integer
S = [4, 1, -1, 10, 0, 12]
# Menerima input integer dari pengguna
D = int(input("Masukkan sebuah integer:"))
# Mengalikan elemen array S dengan D
for i in range(0,6):
    S[i] = (NumbInt[i]) * D
# Mencetak isi array
for i in range(0,6):
    print("Array setelah dikalikan dengan", D, "adalah:", S)

In [ ]:
#SOAL2
# Program untuk mencari nilai terbesar atau terkecil dari suatu array
 T1 = [9, 12, 30, -1, 0, 4, -1, 3, 30, 14]
 nilai_terbesar = max(T1)
 nilai_terkecil = min(T1)
 print("Nilai terbesar dari T1 adalah", nilai_terbesar)
 print("Nilai terkecil dari T1 adalah", nilai_terkecil)

  T2 = [1, 3, 5, 8, -12, 90, 3, 5]
  nilai_terbesar = max(T2)
  nilai_terkecil = min(T2)
  print("Nilai terbesar dari T1 adalah", nilai_terbesar)
  print("Nilai terkecil dari T1 adalah", nilai_terkecil)