<a href="https://colab.research.google.com/github/fxxdaisy/ALGORITMAFIRDA/blob/main/P5_Senin_FIRDAGUSTIA_2C1240066.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Program HelloWorld
#Mencetak Hello, World! ke layar
#KAMUS
#belum diperlukan
#ALGORITMA
print("Hello World!")

Hello World!

In [ ]:
#Program Test
#Spesifikasi:Menghitung nilai A dan B
#KAMUS
#A:int
#B:int
#ALGORITMA
A=int(input('Masukan nilai A')) #input
B=int(input('Masukan nilai B'))
A=A+B #proses
print(A) #oputput
print(B)

Masukan nilai A5
Masukan nilai B3
8
3

In [ ]:
#Program Test
#Spesifikasi:Menghitung harga kelereng yang harus dibayarkan anak itu
#KAMUS
#M:int
#H:int
#K:int
#ALGORITMA
M=int(input('Masukan nilai M:')) #input
H=int(input('Masukan nilai H:'))
K=int(input('Masukan nilai K:'))
HK_M=10
HK_H=15
HK_K=20
total_harga=(M*HK_M)+(H*HK_H)+(K*HK_K)

print("yang harus dibayar", total_harga, "rupiah")

Masukan nilai M:10
Masukan nilai H:5
Masukan nilai K:4
yang harus dibayar 255 rupiah

In [ ]:
print("Hello World!")

In [1]:
#proses memasukan data ke dalam variabel
nama = "John Doe"
#proses mencetak variabel
print(nama)

#nilai dan tipe data dalam variabel dapat diubah
umur = 20 #nilai awal
print(umur) #mencetak nilai umur
type(umur) #mengecek tipe data umur
umur = "dua puluh satu" #nilai setelah diubah
print(umur) #mencetak nilai umur
type(umur) #mengecek tipe data umur

namaDepan = "Budi"
namaBelakang = "Susanto"
nama = namaDepan + " " + namaBelakang
umur = 22
hobi = "Berenang"
print("Biodata\n", nama, "\n", umur, "\n", hobi)


#contoh variabel lainya
inivariabel = "Halo"
ini_juga_variabel = "Hai"
_inivariabeljuga = "Hi"
inivariabel222 = "Bye"

panjang = 10
lebar = 5
luas = panjang * lebar
print(luas)

John Doe
20
dua puluh satu
Biodata
 Budi Susanto
 22
 Berenang
50

In [3]:
print("Hello, World!") # (1)
print("Ini program", end="") # (2)
print(" pertama saya") # (3)
print("Dengan", "Koma")
# Ini akan menghasilkan luaran "Dengan Koma"
print("Dengan" + " Plus")
# Ini akan menghasilkan luaran "DenganPlus"
# Perhatikan '+' pada print melakukan konkatenasi pada string saja.
variabel = " sebuah nilai"
print(f"Dengan format {variabel}")
# Ini akan menghasilkan luaran "Dengan format sebuah nilai"
# {variabel} akan diubah dengan nilai dari variabel bersesuaian.
# Ini adalah sebuah komentar.
# Semua yang ada setelah tanda pagar (#) akan diabaikan oleh interpreter.
"'"
# Selain itu, kita juga bisa membuat komentar multi-baris dengan tiga peti ("'") ("'")

Hello, World!
Ini program pertama saya
Dengan Koma
Dengan Plus
Dengan format  sebuah nilai

"'"

In [4]:
S = input("Masukkan kalimat: ") #(1)
print("Anda memasuk kan kalimat: " + S) #(2)
N = int(input("Masukkan sebuah angka: ")) # (3)
print("Jika angka Anda ditambah 5, hasilnya: " + str(N + 5)) #(4)

Masukkan kalimat: Algoritma
Anda memasuk kan kalimat: Algoritma
Masukkan sebuah angka: 2
Jika angka Anda ditambah 5, hasilnya: 7

In [8]:
#tipe data Boolean
print(True)
#tipe data String
print("Ayo belajar Python")
print("Belajar Python Sangat Mudah")
#tipe data Integer
print(20)
#tipe data Float
print(3.14)
#tipe data Hexadecimal
print(0x9a) # Perbaikan: menambahkan awalan 0x
#tipe data Complex
print(5j)
#tipe data List
print([1,2,3,4,5])
print(["satu", "dua", "tiga"])
#tipe data Tuple
print((1,2,3,4,5))
print(("satu", "dua", "tiga"))
#tipe data Dictionary
print({"nama":"Budi", "umur":20})
#tipe data Dictionary dimasukan ke dalam variabel biodata
biodata = {"nama":"Andi", 'umur':21} #proses inisialisasi variabel biodata
print(biodata) #proses pencetakan variabel biodata yang berisi tipe data Dictionary

True
Ayo belajar Python
Belajar Python Sangat Mudah
20
3.14
154
5j
[1, 2, 3, 4, 5]
['satu', 'dua', 'tiga']
(1, 2, 3, 4, 5)
('satu', 'dua', 'tiga')
{'nama': 'Budi', 'umur': 20}
{'nama': 'Andi', 'umur': 21}

In [9]:
x = float(5)
print(x)

5.0

In [13]:
x = int(5.6)
print(x)

5

In [12]:
x = str(9)
print(x)

9

In [15]:
x = set([1, 2, 3])
y = tuple({5, 6, 7})
z = list(("hello"))
print(x)
print(y)
print(z)

{1, 2, 3}
(5, 6, 7)
['h', 'e', 'l', 'l', 'o']

In [16]:
x = 8
y = 2
result = x + y
print(result)

10

In [18]:
 #Penjumlahan
print(13 + 2)
apel = 7
jeruk = 9
buah = apel + jeruk # Menjumlahkan jumlah apel dan jeruk
print(f"Jumlah buah: {buah}")
# Pengurangan
hutang = 10000
bayar = 5000
sisa_hutang = hutang - bayar # Menghitung sisa hutang
print(f"Sisa hutang Anda adalah {sisa_hutang}")
# Perkalian
panjang = 15
lebar = 8
luas = panjang * lebar # Menghitung luas persegi panjang
print(f"Luas persegi panjang: {luas}")
# Pembagian
kue = 16
anak = 4
kue_per_anak = kue / anak # Menghitung bagian kue per anak
print(f"Setiap anak akan mendapatkan bagian kue sebanyak {kue_per_anak}")
# Sisa Bagi / Modulus
bilangan1 = 14
bilangan2 = 5
hasil = bilangan1 % bilangan2 # Menghitung sisa bagi
print("f Sisa bagi dari bilangan {bilangan1} dan {bilangan2} adalah {hasil}")
# Pangkat
bilangan3 = 8
bilangan4 = 2
hasil_pangkat = bilangan3 ** bilangan4 # Menghitung hasil pangkat
print(f"Hasil pangkat: {hasil_pangkat}")
# Pembagian Bulat
print(10 // 3)
# 10 dibagi 3 adalah 3.3333. Karena dibulatkan maka akan menghasilkan nilai 3

15
Jumlah buah: 16
Sisa hutang Anda adalah 5000
Luas persegi panjang: 120
Setiap anak akan mendapatkan bagian kue sebanyak 4.0
f Sisa bagi dari bilangan {bilangan1} dan {bilangan2} adalah {hasil}
Hasil pangkat: 64
3

In [19]:
# SAMA DENGAN
print(1 == 1) # Hasilnya akan bernilai True karena satu sama dengan satu
print(1 == 2) # Hasilnya akan bernilai False karena satu tidak sama dengan dua
# TIDAK SAMA DENGAN
print(2 != 2) # Hasilnya akan bernilai False karena dua seharusnya sama dengan dua
print(2 != 3) # Hasilnya akan bernilai True karena dua tidak sama dengan tiga
# LEBIH BESAR DARI
print(5 > 3) # Hasilnya akan bernilai True karena lima lebih besar dari tiga
# LEBIH KECIL DARI
print(5 < 3) # Hasilnya akan bernilai False karena lima tidak lebih besar dari tiga
# LEBIH BESAR DARI SAMA DENGAN
print(5 >= 3) # Hasilnya akan bernilai True karena lima lebih besar dari sama dengan tiga
# LEBIH KECIL DARI SAMA DENGAN
print(5 <= 3) # Hasilnya akan bernilai False karena lima tidak lebih besar dari sama dengan tiga

True
False
False
True
True
False
True
False

In [20]:
#SOAL1
s = float(input("Masukan panjang sisi persegi: "))
luas_persegi = s * s
print("jadi luas persegi adalah", luas_persegi)

Masukan panjang sisi persegi: 3.5
jadi luas persegi adalah 12.25

In [23]:
#SOAL2
Nama = str(input("masukkan nama :"))
NIM = str(input("masukkan NIM :"))
Fakultas = str(input("masukkan Fakultas :"))
Jurusan = str(input("masukkan jurusan :"))
KotaAsal = str(input("masukkan Kota Asal :"))
Alamat = str(input("masukkan Alamat :"))
print(Nama)
print(NIM)
print(Fakultas)
print(Jurusan)
print(KotaAsal)
print(Alamat)

masukkan nama :FIRDA GUSTIA
masukkan NIM :2C1240066
masukkan Fakultas :Sains dan Teknologi
masukkan jurusan :AGRIBISNIS
masukkan Kota Asal :RIAU
masukkan Alamat :Pusdiklat Gerkopin, Cikeruh, Jatinangor
FIRDA GUSTIA
2C1240066
Sains dan Teknologi
AGRIBISNIS
RIAU
Pusdiklat Gerkopin, Cikeruh, Jatinangor